@font-face {
  font-family: bold-font;
  src: url(/fonts/Mulish-Bold.ttf?3fd0f50bd4908ad371c289c9f4dc06a0);
}
@font-face {
  font-family: italic-font;
  src: url(/fonts/Mulish-Italic.ttf?3d3f7082f0b32afacaf0e1ba349375ed);
}
@font-face {
  font-family: regular-font;
  src: url(/fonts/Mulish-Regular.ttf?2f1b746890b4fbe97d3ecf20110040b7);
}
@font-face {
  font-family: medium-font;
  src: url(/fonts/Mulish-Medium.ttf?03f90a01ad5e990d419bc2764409e98f);
}
body {
  font-family: regular-font;
}

div.hero {
  height: 100vh;
  background-color: white;
}
div.hero section.container-fluid {
  height: 100%;
}
div.hero section.container-fluid .hero-head {
  height: 100%;
}
div.hero section.container-fluid .hero-head .col-xl-7 {
  background: linear-gradient(rgba(43, 21, 107, 0.8), rgba(43, 21, 107, 0.8)), url(/images/background.png?450df44384ba9dd20a6d8e3bd228b66d) no-repeat center center;
  background-size: cover;
  height: 100%;
}
div.hero section.container-fluid .hero-head .col-xl-7 .row {
  height: 100%;
}
div.hero section.container-fluid .hero-head .col-xl-7 .row h3.text-white {
  letter-spacing: 0.1rem;
}
div.hero section.container-fluid .hero-head .col-xl-5 {
  height: 100%;
  display: flex;
  align-items: center;
}

.container {
  width: 80%;
}

.bullets {
  display: inline-block;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
  z-index: 2;
}

.bullets-transparent {
  color: white;
  background-color: transparent;
}

.bullets-white {
  color: #290341;
  background-color: white;
}

.text-gray {
  color: #8692A6;
}

.text-description {
  color: #8694ac;
  width: 70%;
  word-wrap: break-word;
}

.hero-head > .col-xl-7 > .container {
  height: 100%;
}

.hero-head-row {
  height: 100%;
}

.img-tickitz {
  max-width: 15rem;
}

.form-title {
  color: #121212;
  font-weight: bold;
}

.form-subtitle {
  color: #AAAAAA;
}

.btn-active {
  background-color: #5F2EEA;
  outline-color: #5F2EEA !important;
  border-color: #5F2EEA !important;
  box-shadow: none !important;
  height: 3.1rem;
  color: white;
  transition: opacity 0.5s;
  padding: 0;
}

.btn-active:hover {
  background-color: #5F2EEA;
  color: white;
  opacity: 0.5;
}

.text-label {
  color: #4E4B66;
}

.input-active {
  height: 3.1rem;
  box-shadow: none !important;
  outline: none !important;
  padding-left: 1.3rem;
}

.input-active:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #5F2EEA;
}

::-moz-placeholder {
  color: #A0A3BD !important;
}

:-ms-input-placeholder {
  color: #A0A3BD !important;
}

::placeholder {
  color: #A0A3BD !important;
}

.hero-progress {
  height: 3rem !important;
}

span.vertical-line {
  left: 1.1rem;
  top: 2.8rem;
  width: 1.4rem;
  height: 0.1rem;
  background-color: white;
  transform: rotate(90deg);
}

@media screen and (max-width: 600px) {
  img.img-tickitz {
    width: 10rem;
  }

  .hero-head > .col-xl-5 {
    height: 100vh !important;
    padding: 12.5rem 0;
  }

  .container {
    width: 90%;
  }

  .text-description {
    width: 100%;
  }

  .input-active, .btn-active {
    height: 2.8rem;
  }

  .btn.btn-active {
    padding: 0;
  }
}
@media screen and (max-width: 320px) {
  .input-active, .btn-active {
    height: 2.5rem;
    padding-left: 0.5rem;
  }

  .btn.btn-active {
    padding: 0;
  }

  ::-moz-placeholder {
    font-size: 0.8rem;
  }

  :-ms-input-placeholder {
    font-size: 0.8rem;
  }

  ::placeholder {
    font-size: 0.8rem;
  }

  .col-xl-5.col-lg-5.col-sm-12.col-md-12 {
    min-height: 100vh !important;
    padding: 5.8rem 0;
    box-sizing: content-box;
  }

  .col-xl-7.col-lg-7.col-sm-12.col-md-12 {
    min-height: 100vh !important;
    padding: 5.8rem 0;
    box-sizing: content-box;
  }
}
@media screen and (min-width: 600px) and (max-width: 968px) {
  .input-active, .btn-active {
    height: 3.2rem;
  }

  .btn.btn-active {
    padding: 0;
  }

  .text-description {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 968px) and (orientation: landscape) {
  .col-xl-5.col-lg-5.col-sm-12.col-md-12 {
    min-height: 100vh !important;
    padding: 3.8rem 0;
    box-sizing: content-box;
  }

  .col-xl-7.col-lg-7.col-sm-12.col-md-12 {
    min-height: 100vh !important;
    padding: 2rem 0;
    box-sizing: content-box;
  }

  .col-xl-7.col-lg-7.col-sm-12.col-md-12 > .container > .row > .col-xl-12:last-child {
    display: none !important;
  }
}
@media screen and (min-width: 968px) and (max-width: 1200px) {
  .input-active, .btn-active {
    height: 2.9rem;
  }

  .container {
    width: 90%;
  }

  .btn.btn-active {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1580px) {
  img.img-tickitz {
    width: 20rem;
  }

  .container {
    width: 95% !important;
  }

  .btn.btn-active {
    padding: 0;
  }
}
