@font-face {
  font-family: bold-font;
  src: url(/fonts/Mulish-Bold.ttf?3fd0f50bd4908ad371c289c9f4dc06a0);
}
@font-face {
  font-family: italic-font;
  src: url(/fonts/Mulish-Italic.ttf?3d3f7082f0b32afacaf0e1ba349375ed);
}
@font-face {
  font-family: regular-font;
  src: url(/fonts/Mulish-Regular.ttf?2f1b746890b4fbe97d3ecf20110040b7);
}
@font-face {
  font-family: medium-font;
  src: url(/fonts/Mulish-Medium.ttf?03f90a01ad5e990d419bc2764409e98f);
}
body {
  font-family: regular-font;
}

div.hero {
  height: 100vh;
  background-color: white;
}
div.hero section.container-fluid {
  height: 100%;
}
div.hero section.container-fluid .hero-head {
  height: 100%;
}
div.hero section.container-fluid .hero-head .col-xl-7 {
  background: linear-gradient(rgba(43, 21, 107, 0.8), rgba(43, 21, 107, 0.8)), url(/images/background.png?450df44384ba9dd20a6d8e3bd228b66d) no-repeat center center;
  background-size: cover;
  height: 100%;
}
div.hero section.container-fluid .hero-head .col-xl-7 .row {
  height: 100%;
}
div.hero section.container-fluid .hero-head .col-xl-7 .row h3.text-white {
  letter-spacing: 0.1rem;
}
div.hero section.container-fluid .hero-head .col-xl-5 {
  height: 100%;
  display: flex;
  align-items: center;
}

.container {
  width: 80%;
}

.form-title {
  color: #121212;
  font-weight: bold;
}

.form-subtitle {
  color: #AAAAAA;
}

.hero-progress {
  height: 3rem !important;
}

.btn-signup {
  background-color: #5F2EEA;
  outline-color: #5F2EEA !important;
  border-color: #5F2EEA !important;
  box-shadow: none !important;
  height: 3.1rem;
  color: white;
  transition: opacity 0.5s;
  padding: 0;
}

.btn-signup:hover {
  background-color: #5F2EEA;
  color: white;
  opacity: 0.5;
}

.text-label {
  color: #4E4B66;
}

.input-signup {
  height: 3.1rem;
  box-shadow: none !important;
  outline: none !important;
  padding-left: 1.3rem;
}

.input-signup:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #5F2EEA;
}

a.text-reset {
  letter-spacing: 0.1rem;
  color: #5F2EEA !important;
}

.forgot-col {
  color: #AAAAAA;
}

::-moz-placeholder {
  color: #A0A3BD !important;
}

:-ms-input-placeholder {
  color: #A0A3BD !important;
}

::placeholder {
  color: #A0A3BD !important;
}

.btn.btn-facebook, .btn.btn-google {
  position: relative;
  height: 3.1rem;
  color: #A0A3BD;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border: none;
  width: 100%;
  transition: opacity 0.5s;
}

.btn.btn-google:hover, .btn.btn-facebook:hover {
  background-color: white;
  color: #A0A3BD;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  opacity: 0.5;
}

img.img-facebook, img.img-google {
  position: absolute;
  left: 1rem;
}

img.img-eye {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  bottom: 0.9rem;
}

hr.hr {
  width: 100%;
  color: #AAAAAA;
}

.text-or {
  color: #AAAAAA;
}

.bullets {
  display: inline-block;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
  z-index: 2;
}

.bullets-transparent {
  color: white;
  background-color: transparent;
}

.bullets-white {
  color: #290341;
  background-color: white;
}

.text-gray {
  color: #8692A6;
}

.text-description {
  color: #8694ac;
  width: 70%;
  word-wrap: break-word;
}

.hero-head > .col-xl-7 > .container {
  height: 100%;
}

.hero-head-row {
  height: 100%;
}

.img-tickitz {
  max-width: 15rem;
}

span.vertical-line {
  left: 1.1rem;
  top: 2.8rem;
  width: 1.4rem;
  height: 0.1rem;
  background-color: white;
  transform: rotate(90deg);
}

.form-check-input {
  border-color: #5F2EEA;
}

.form-check-label {
  color: #696F79;
}

.form-check-input:checked {
  background-color: #5F2EEA;
  color: white;
}

.form-check-input[type=checkbox] {
  border-radius: 0 !important;
}

.form-check-input:focus {
  border-color: #5F2EEA;
  outline: 0;
  box-shadow: none;
}

.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

@media screen and (max-width: 600px) {
  img.img-tickitz {
    width: 15rem;
  }

  .hero-head > .col-xl-5 {
    padding: 2.5rem 0;
    height: auto !important;
  }

  .container {
    width: 90%;
  }

  .text-description {
    width: 100%;
  }

  .input-signup, .btn.btn-signup, .btn.btn-google, .btn.btn-facebook {
    height: 2.8rem;
    font-size: 1.1rem;
  }

  .btn.btn-signup {
    padding: 0;
  }

  .btn-google {
    margin-bottom: 1rem;
  }

  img.img-eye {
    bottom: 0.8rem;
  }
}
@media screen and (max-width: 320px) {
  .input-signup, .btn-signup, .btn.btn-google, .btn.btn-facebook {
    height: 2.5rem;
    padding-left: 0.5rem;
  }

  .btn.btn-signup {
    padding: 0;
  }

  ::-moz-placeholder {
    font-size: 0.8rem;
  }

  :-ms-input-placeholder {
    font-size: 0.8rem;
  }

  ::placeholder {
    font-size: 0.8rem;
  }

  img.img-tickitz {
    width: 10rem;
  }

  img.img-google, img.img-facebook {
    position: static;
  }

  img.img-google {
    margin-right: 1rem;
  }

  img.img-facebook {
    margin-right: 0.5rem;
  }

  img.img-eye {
    right: 0.6rem;
    bottom: 0.7rem;
    width: 1rem;
  }

  .btn-google {
    margin-bottom: 1rem;
  }

  .hero > .container-fluid > .hero-head > .col-xl-7 {
    box-sizing: content-box;
    min-height: 100vh;
    padding: 3.5rem 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .btn-google {
    margin-bottom: 1rem;
  }

  .text-description {
    width: 100%;
  }

  div.hero > section.container-fluid > .hero-head > .col-xl-5 {
    height: auto;
    padding: 2rem 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) and (orientation: landscape) {
  .btn-google {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 968px) {
  .input-signup, .btn-signup, .btn.btn-google, .btn.btn-facebook {
    height: 3.2rem;
  }

  .hero-head > .col-xl-5 {
    padding: 7.5rem 0;
    height: auto !important;
  }

  img.img-eye {
    bottom: 1rem;
    right: 1.2rem;
  }

  .btn.btn-signup {
    padding: 0;
  }

  .btn-google {
    margin-bottom: 1rem;
  }

  .text-description {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 968px) and (orientation: landscape) {
  .btn-google {
    margin-bottom: 0;
  }

  .hero > .container-fluid > .hero-head > .col-xl-7 {
    box-sizing: content-box;
    min-height: 100vh;
    padding: 8.5rem 0;
  }
}
@media screen and (min-width: 968px) and (max-width: 1200px) {
  .input-signup, .btn-signup, .btn.btn-google, .btn.btn-facebook {
    height: 2.9rem;
  }

  .container {
    width: 90%;
  }

  img.img-eye {
    bottom: 0.8rem;
    right: 1.2rem;
  }

  .btn.btn-signup {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1580px) {
  img.img-tickitz {
    width: 20rem;
  }

  img.img-facebook {
    left: 0.9rem;
  }

  .container {
    width: 95% !important;
  }

  .btn.btn-signup {
    padding: 0;
  }
}
