@font-face {
  font-family: bold-font;
  src: url(/fonts/Mulish-Bold.ttf?3fd0f50bd4908ad371c289c9f4dc06a0);
}
@font-face {
  font-family: italic-font;
  src: url(/fonts/Mulish-Italic.ttf?3d3f7082f0b32afacaf0e1ba349375ed);
}
@font-face {
  font-family: regular-font;
  src: url(/fonts/Mulish-Regular.ttf?2f1b746890b4fbe97d3ecf20110040b7);
}
@font-face {
  font-family: medium-font;
  src: url(/fonts/Mulish-Medium.ttf?03f90a01ad5e990d419bc2764409e98f);
}
body {
  font-family: regular-font;
}

div.hero {
  height: 100vh;
  background-color: white;
}
div.hero section.container-fluid {
  height: 100%;
}
div.hero section.container-fluid .hero-head {
  height: 100%;
}
div.hero section.container-fluid .hero-head .col-xl-7 {
  background: linear-gradient(rgba(43, 21, 107, 0.8), rgba(43, 21, 107, 0.8)), url(/images/background.png?450df44384ba9dd20a6d8e3bd228b66d) no-repeat center center;
  background-size: cover;
  height: 100%;
}
div.hero section.container-fluid .hero-head .col-xl-7 .row {
  height: 100%;
}
div.hero section.container-fluid .hero-head .col-xl-7 .row h3.text-white {
  letter-spacing: 0.1rem;
}
div.hero section.container-fluid .hero-head .col-xl-5 {
  height: 100%;
  display: flex;
  align-items: center;
}

.container {
  width: 80%;
}

.img-tickitz {
  max-width: 25rem;
}

.form-title {
  color: #121212;
  font-weight: bold;
}

.form-subtitle {
  color: #AAAAAA;
}

.btn-signin {
  background-color: #5F2EEA;
  outline-color: #5F2EEA !important;
  border-color: #5F2EEA !important;
  box-shadow: none !important;
  height: 3.1rem;
  color: white;
  transition: opacity 0.5s;
}

.btn-signin:hover {
  background-color: #5F2EEA;
  color: white;
  opacity: 0.5;
}

.text-label {
  color: #4E4B66;
}

.input-signin {
  height: 3.1rem;
  box-shadow: none !important;
  outline: none !important;
  padding-left: 1.3rem;
}

.input-signin:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #5F2EEA;
}

a.text-reset {
  letter-spacing: 0.1rem;
  color: #5F2EEA !important;
}

.forgot-col {
  color: #AAAAAA;
}

::-moz-placeholder {
  color: #A0A3BD !important;
}

:-ms-input-placeholder {
  color: #A0A3BD !important;
}

::placeholder {
  color: #A0A3BD !important;
}

.btn.btn-facebook, .btn.btn-google {
  position: relative;
  height: 3.1rem;
  color: #A0A3BD;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border: none;
  width: 100%;
  transition: opacity 0.5s;
}

.btn.btn-google:hover, .btn.btn-facebook:hover {
  background-color: white;
  color: #A0A3BD;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  opacity: 0.5;
}

img.img-facebook, img.img-google {
  position: absolute;
  left: 1rem;
}

img.img-eye {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  bottom: 0.9rem;
}

hr.hr {
  width: 100%;
  color: #AAAAAA;
}

.text-or {
  color: #AAAAAA;
}

@media screen and (max-width: 600px) {
  img.img-tickitz {
    width: 15rem;
  }

  .hero-head > .col-xl-5 {
    padding: 2.5rem 0;
    height: auto !important;
  }

  .container {
    width: 90%;
  }

  .input-signin, .btn-signin, .btn-google, .btn-facebook {
    height: 2.8rem;
  }

  .btn-google {
    margin-bottom: 1rem;
  }

  img.img-eye {
    bottom: 0.8rem;
  }
}
@media screen and (max-width: 320px) {
  .input-signin, .btn-signin, .btn-google, .btn-facebook {
    height: 2.5rem;
    padding-left: 0.5rem;
  }

  ::-moz-placeholder {
    font-size: 0.8rem;
  }

  :-ms-input-placeholder {
    font-size: 0.8rem;
  }

  ::placeholder {
    font-size: 0.8rem;
  }

  img.img-eye {
    bottom: 0.8rem;
    width: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .input-signin, .btn-signin, .btn-google, .btn-facebook {
    height: 4.5rem;
  }

  .hero-head > .col-xl-5 {
    padding: 7.5rem 0;
    height: auto !important;
  }

  img.img-eye {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1580px) {
  img.img-tickitz {
    width: 20rem;
  }

  img.img-facebook {
    left: 0.9rem;
  }

  .container {
    width: 98% !important;
  }
}
